<div flex layout="column">
    <md-toolbar md-whiteframe="6" class="main">
        <div class="md-toolbar-tools">
            <img src="ico/wrench.svg" style="height: calc(100% - 10px); margin: 5px 0;">
            <span flex="15"></span>
            <md-button>
                <p>
                    <md-icon md-svg-icon="icons:content"></md-icon>
                    &nbsp;Dashbaord
                </p>
            </md-button>
            <md-button class="active">
                <p>
                    <md-icon md-svg-icon="icons:packs"></md-icon>
                    &nbsp;Modpacks
                </p>
            </md-button>
        </div>
    </md-toolbar>

    <!-- Container #2 (in wireframe) -->
    <md-content flex style="overflow: scroll;">
        <div layout="row" flex layout-align="center">
            <div class="container" ng-class="{ full: $ctrl.viewmode, half: !$ctrl.viewmode}">
                <div flex layout="row" ng-repeat="packs in $ctrl.sets">
                    <div class="modpack" ng-repeat="pack in packs"
                         ng-class="{show: pack.active, list: !pack.active && !$ctrl.viewmode, hidden: !pack.active && $ctrl.viewmode}">
                        <div class="cropper" ng-click="$ctrl.showPack(pack)">
                            <img class="pack-logo" src="{{pack.logo_url}}">
                            <div class="modpack-header" style="background-image: url('{{pack.background_url}}');">
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="$ctrl.viewmode" class="info" layout="row" layout-align="center">
                    <div flex="80">
                        <md-card md-whiteframe="6">
                            <md-toolbar>
                                <div class="md-toolbar-tools">
                                    <h2>
                                        <span>{{$ctrl.selectedPack.name}}</span>
                                    </h2>
                                    <span flex></span>
                                    <md-button class="md-icon-button" ng-click="$ctrl.showList()">
                                        <md-icon md-svg-icon="icons:close"></md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-card-content flex>
                                <md-tabs md-dynamic-height md-border-bottom>
                                    <md-tab label="overview">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2">Tab One</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis
                                                ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam
                                                consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus
                                                est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="updates">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2">Tab Two</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis
                                                ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam
                                                consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus
                                                est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam
                                                erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
                                                rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales
                                                ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a
                                                nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et.
                                                Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed
                                                felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in
                                                enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
                                                neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
                                                purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus
                                                mauris semper.</p>
                                            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at
                                                semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam
                                                cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus
                                                faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget
                                                nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at,
                                                hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor.
                                                Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit
                                                amet, tempus sapien.</p>
                                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum
                                                tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis
                                                rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu
                                                fermentum nunc. Sed id ante eu orci commodo volutpat non ac est.
                                                Praesent ligula diam, congue eu enim scelerisque, finibus commodo
                                                lectus.</p>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="changelog">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2">Tab Two</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis
                                                ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam
                                                consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus
                                                est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam
                                                erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
                                                rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales
                                                ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a
                                                nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et.
                                                Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed
                                                felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in
                                                enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
                                                neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
                                                purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus
                                                mauris semper.</p>
                                            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at
                                                semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam
                                                cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus
                                                faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget
                                                nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at,
                                                hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor.
                                                Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit
                                                amet, tempus sapien.</p>
                                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum
                                                tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis
                                                rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu
                                                fermentum nunc. Sed id ante eu orci commodo volutpat non ac est.
                                                Praesent ligula diam, congue eu enim scelerisque, finibus commodo
                                                lectus.</p>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="mods">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2">Tab Two</h1>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis
                                                ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam
                                                consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus
                                                est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam
                                                erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim
                                                rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales
                                                ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a
                                                nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et.
                                                Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed
                                                felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in
                                                enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum
                                                neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor
                                                purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus
                                                mauris semper.</p>
                                            <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at
                                                semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam
                                                cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus
                                                faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget
                                                nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at,
                                                hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor.
                                                Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit
                                                amet, tempus sapien.</p>
                                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum
                                                tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis
                                                rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu
                                                fermentum nunc. Sed id ante eu orci commodo volutpat non ac est.
                                                Praesent ligula diam, congue eu enim scelerisque, finibus commodo
                                                lectus.</p>
                                        </md-content>
                                    </md-tab>
                                    <md-tab label="discuss">
                                        <md-content class="md-padding">
                                            <h1 class="md-display-2">Tab Three</h1>
                                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum
                                                tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis
                                                rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu
                                                fermentum nunc. Sed id ante eu orci commodo volutpat non ac est.
                                                Praesent ligula diam, congue eu enim scelerisque, finibus commodo
                                                lectus.</p>
                                        </md-content>
                                    </md-tab>
                                </md-tabs>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button>Action 1</md-button>
                                <md-button>Action 2</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                </div>
            </div>
        </div>
    </md-content>
</div>
</div>
<footer></footer>