// Making the custom components full size
component {
  flex: 1;
  flex-direction: row;
  display: flex;
}

// Indicating current navigation state
md-list-item {
  &.active {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

div.image-container {
  transition: all 1s;
  transform: translateZ(0);
  overflow: hidden;
  border-radius: 5px;
}

div.header-image {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  filter: grayscale(0.5) blur(10px);
  transition: all 1s;
}

md-card-title {
  background-color: #424242;
  z-index: 1;
}

div.headerActive {
  filter: brightness(1) blur(0);
}

div.header-logo {
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
}

button {
  &.active {
    //background-color: rgba(255, 255, 255, 0.3);
  }
}

div.image-card {
  box-shadow: none;
  transition: box-shadow 0.5s;
}

div.image-card:hover {
  box-shadow: 0 5px 6px -3px rgba(0, 0, 0, .2), 0 9px 12px 1px rgba(0, 0, 0, .14), 0 3px 16px 2px rgba(0, 0, 0, .12);
}

//animations
ui-view.ng-enter.left {
  animation: fadeInLeft 0.3s;
}

ui-view.ng-enter.right {
  animation: fadeInRight 0.3s;
}

div.container {
  position: relative;
  transition: all 1s;
  transform: translateZ(0);
  box-sizing: border-box;
  &.full {
    padding: 0;
    flex: 1 1 100%;
    max-width: 100%;
  }
  &.half {
    padding: 8px;
    flex: 1 1 50%;
    max-width: 50%;
  }
}

div.info {
  position: absolute;
  top: calc(25rem - 72px);
  width: 100%;
  &.ng-enter {
    opacity: 0;
    animation: fadeInDown 0.5s 0.6s;
  }
  &.ng-leave {
    animation: fadeOutUp 0.5s;
  }
}

md-card-content {
  padding: 0 !important;
}

div.modpack {
  position: relative;
  transition: all 1s 0.3s, opacity 0.3s;
  transform: translateZ(0);
  box-sizing: border-box;
  overflow: hidden;
  &.hidden {
    height: 0;
    padding: 0;
    opacity: 0;
    flex: 0 0 auto;
    &.hidden-remove {
      flex: 1;
      opacity: 0;
    }
    .cropper {
      opacity: 0;
    }
    &.hidden-add {
      flex: 1;
    }
  }
  &.show {
    opacity: 1;
    padding: 0;
    flex: 1 1 100%;
    height: 25em;
    &.show-remove {
      flex: 1 1 100%;
    }
    .cropper {
      border-radius: 0;
      .modpack-header {
        filter: none;
      }
    }
    img.pack-logo {
      //height: calc( 100% - 10em);
      //top: 5em;
      opacity: 0;
    }
  }
  &.list {
    opacity: 1;
    padding: 8px;
    flex: 1 1 50%;
    height: 13em;
  }
  img.pack-logo {
    position: absolute;
    z-index: 1;
    height: calc( 100% - 4em);
    top: 2em;
    left: 2em;
    transition: all 1s;
    transform: translateZ(0);
  }
  .cropper {
    opacity: 1;
    border-radius: 10px;
    position: relative;
    padding: 0;
    overflow: hidden;
    box-shadow: 0;
    transition: box-shadow 0.4s ease, border-radius 1s, opacity 0.3s 1s;
    transform: translateZ(0);
    height: 100%;
    width: 100%;
    &:hover {
      box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 0px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
    }
    &:focus{
      outline: none;
    }
    .modpack-header {
      height: 100%;
      background-position: center;
      background-size: cover;
      filter: brightness(0.4) blur(5px);
      transition: all 1s 0.7s;
      transform: translateZ(0);
    }
  }
}


